* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    /* height: 15vh; */
    align-items: center;
    justify-content: center;
    background-color: #020181;
}

header .head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    color: black;
    padding-top: 11px;
    background-color: #020181;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.1);
}

header .head .logo img {
    width: 35%;
}

header .head .logo {
    display: flex;
    align-items: center;
}

header .head .logo .txt {
    font-size: 19px;
    font-family: "Inter", sans-serif;
    line-height: 24px;
    font-weight: bold !important;
}

header .head .nav nav ul {
    display: flex;
    list-style-type: none;
}

header .head .nav nav ul li a {
    text-decoration: none;
    color: #c4c0c0;
    font-family: "Inter", sans-serif;
    padding: 0px 17px;
    font-weight: medium;
    font-size: 15px;
    text-wrap: nowrap;
    /* font-weight: bold !important; */
}

.header .container .nav ul li a.contact-us {
    background-color: #213b52;
    color: white;
    width: 93%;
    text-align: center;
    border: none;
    display: block;
    padding: 10px;
}

header .head .nav nav ul li .contact-us {
    border-radius: 30px;
    border: 1.5px solid #F87516;
    color: #c4c0c0;
    padding: 5px 22px;
}

header .head .nav nav ul li a:hover {
    color: #ffffff;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

header .head .nav nav ul li .contact-us:hover {
    background-color: #F87516;
    color: #ffffff;
    padding: 5px 22px;
    transition: 0.3s ease;
    transition-delay: 0.01s;
}

.about {
    width: 100%;
    background-color: #D9D9D9;
}

.about .container {
    width: 93%;
    display: flex;
    padding: 70px 20px;
    margin: auto;
    background-color: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.about .container .text {
    width: 45%;
}

.about .container .text h2 {
    color: #213b52;
    font-family: "Inter", sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.about .container .text p {
    color: #131313;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-bottom: 30px;
    text-align: justify;
}

.about .container .text .get-started {
    border: 2px solid #213b52;
    border-radius: 30px;
    background-color: #c4c0c0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 450;
    color: #131313;
    padding: 5px 25px;
    margin-right: 18px;
}

.about .container .text .get-started:hover {
    background-color: #213b52;
    color: #ECECEC;
    transition: 0.4s ease;
}

.about .container .image .first {
    background-image: url(../images/first-about.jpg);
    width: 550px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 50%;
}


/* FOOTER SECTION */

.footer {
    height: 68vh;
    background: #010180;
    width: 100%;
    padding-top: 40px;
}

.footer .container {
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
    height: 250px;
}

.footer .container .container2 {
    width: 90%;
    height: 230px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.footer .container .container2 .div1 {
    width: 30%;
    padding-top: 20px;
    padding-right: 20px;
    height: 215px;
    border-right: 1px solid white;
}

.footer .container .container2 .logo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer .container .container2 .logo img {
    width: 220px;
    height: 55px;
}

.footer .container .container2 .div2 {
    width: 18%;
    height: 215px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.footer .container .container2 .div2 a {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div3 {
    width: 24%;
    height: 215px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.footer .container .container2 .div3 a {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 {
    width: 25%;
    height: 215px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.footer .container .container2 .div4 #call {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 #em {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 .socials {
    display: flex;
    margin-top: 15px;
}

.footer .txt1 {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.footer .txt1 p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}