* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020181;
}

header .head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    color: black;
    padding-top: 11px;
    background-color: #020181;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.1);
}

header .head .logo img {
    width: 35%;
}

header .head .logo {
    display: flex;
    align-items: center;
}

header .head .nav nav ul {
    display: flex;
    list-style-type: none;
}

header .head .nav nav ul li a {
    text-decoration: none;
    color: #c4c0c0;
    font-family: "Inter", sans-serif;
    padding: 0px 17px;
    font-weight: medium;
    font-size: 15px;
    text-wrap: nowrap;
}

header .head .nav nav ul li .contact-us {
    border-radius: 30px;
    border: 1.5px solid #F87516;
    color: #c4c0c0;
    padding: 5px 22px;
}

header .head .nav nav ul li a:hover {
    color: #ffffff;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

header .head .nav nav ul li .contact-us:hover {
    background-color: #F87516;
    color: #ffffff;
    padding: 5px 22px;
    transition: 0.3s ease;
    transition-delay: 0.01s;
}

.contact {
    width: 100%;
    padding: 50px 0px;
    background-image: linear-gradient(#ececec, #F2F6FA);
}

.contact h2 {
    text-align: center;
    color: #213B52;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
}

.contact .container {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 30px;
}

.contact .container .left {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
}

.contact .container .left .address {
    width: 100%;
    background-color: white;
    padding: 20px 0px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.contact .container .left .address .a {
    position: relative;
    left: 255px;
    width: 50px;
}

.contact .container .left .address .a .fa-location-dot {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.contact .container .left .address h3 {
    font-family: "Inter", sans-serif;
    color: #213B52;
    text-align: center;
    padding-bottom: 20px;
}

.contact .container .left .address p {
    font-family: "Inter", sans-serif;
    color: #545455;
    text-align: center;
}

.contact .container .left .email {
    width: 50%;
    background-color: white;
    padding: 20px;
    margin-right: 2px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.contact .container .left .fa-envelope {
    position: relative;
    left: 100px;
    font-size: 30px;
    margin-bottom: 15px;
}

.contact .container .left .email h3 {
    font-family: "Inter", sans-serif;
    color: #213B52;
    text-align: center;
    margin-bottom: 10px;
}

.contact .container .left .email li {
    list-style: none;
    color: #213B52;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.contact .container .left .call {
    width: 45%;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.contact .container .left .call .a .fa-phone {
    position: relative;
    left: 96px;
    font-size: 30px;
    margin-bottom: 15px;
}

.contact .container .left .call h3 {
    color: #213B52;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}

.contact .container .left .call li {
    list-style: none;
    color: #545455;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.contact .container .right {
    width: 49%;
    padding-left: 27px;
    padding-top: 25px;
    padding-bottom: 90px;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contact .container .right .first-box {
    width: 85%;
    /* padding-bottom: 30px;
padding-top: 20px; */
    display: flex;
    margin: 15px 0px;
    margin-left: 18px;
    gap: 10px;
}

.contact .container .right .first-box .box-1 {
    width: 50%;
    padding: 5px 0px;
    padding-left: 5px;
    border: 1px solid #AEACAC;
    border-radius: 1px;
    margin-right: 10px;
}

.contact .container .right .first-box .box-1 input {
    border: 1px solid #83818100;
    outline: none;
    font-size: 16px;
    width: 90%;
    font-family: "Inter", sans-serif;
}

.contact .container .right .first-box .box-2 {
    width: 50%;
    padding: 5px;
    padding-right: 10px;
    border: 1px solid #AEACAC;
    border-radius: 1px;
}

.contact .container .right .first-box .box-2 input {
    border: 1px solid #83818100;
    outline: none;
    font-size: 16px;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.contact .container .right .second-box {
    width: 82%;
    margin-left: 18px;
}

.contact .container .right .second-box .box-3 {
    width: 100%;
    margin: 20px 0px;
    border-radius: 1px;
    border: 1px solid #AEACAC;
    padding: 7px;
}

.contact .container .right .second-box .box-3 input {
    border: 1px solid #83818100;
    outline: none;
    font-size: 16px;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.contact .container .right .second-box .message {
    width: 100%;
    margin: 20px 0px;
    border-radius: 1px;
    border: 1px solid #AEACAC;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 100px;
    padding-right: 10px;
}

.contact .container .right .second-box .box-4 .nessage {
    border: 1px solid #83818100;
    outline: none;
    font-size: 16px;
}

.contact .container .right .submit {
    width: 25%;
    background-color: #F87516;
    position: absolute;
    left: 200px;
}

.contact .container .right .submit button {
    border: 1px solid #83818100;
    outline: none;
    background-color: #F87516;
    font-size: 17px;
    padding: 5px;
    padding-left: 50px;
}


/* FOOTER SECTION */

.footer {
    height: 68vh;
    background: #010180;
    width: 100%;
    padding-top: 40px;
}

.footer .container {
    /* border-top: 1px solid white;
    border-bottom: 1px solid white; */
    height: 250px;
}

.footer .container .container2 {
    width: 90%;
    height: 230px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.footer .container .container2 .div1 {
    width: 30%;
    padding-top: 20px;
    padding-right: 20px;
    height: 215px;
    border-right: 1px solid white;
}

.footer .container .container2 .logo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer .container .container2 .logo img {
    width: 220px;
    height: 55px;
}

.footer .container .container2 .div2 {
    width: 18%;
    height: 215px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.footer .container .container2 .div2 a {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div3 {
    width: 24%;
    height: 215px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.footer .container .container2 .div3 a {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 {
    width: 25%;
    height: 215px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.footer .container .container2 .div4 #call {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 #em {
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 .socials {
    display: flex;
    margin-top: 15px;
}

.footer .txt1 {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.footer .txt1 p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}